body {
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
}

#content div > :first-child {
	padding-top: 40px;
}

h1 {
	text-align: center;
}

hr {
	width: 90%;
}

#aboutDiv {
	text-align: center;
}

#aboutP {
	margin: auto;
	width: 80%;
	padding-top: 10px;
	text-align: left;
}

#frc2020Div {
	width: 80%;
	list-style-type: none;
	margin-top: 40px;
	margin-left: 70px;
}

#teamHistory {
	margin-left: 5%;
	margin-right: 5%;
}

#teamImg {
	display: block;
	margin: auto;
	width: 80%;
}
.flex {
	padding-left: 50px;
	display: flex;
	align-items: center;
}
#frc2020P {
	padding-left: 50px;
	width: 50vw;
	font-weight: normal;
}
#robot {
	height: 350px;
	width: 400px;
}
#first {
	height: 300px;
	width: 300px;
}
#team {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.missionStatement {
    text-align: center;
}

.missionStatement p {
    margin: auto;
    padding-top: 10px;
	width: 80%;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
}